<h1><%= @place["name"] %></h1>

<% if @current_user %>
<p>
  <a href="/posts/new?place_id=<%= @place["id"] %>" class="btn btn-primary my-4">New Post</a>
</p>

<div class="row my-4">

  <h2>My Posts</h2>
  <% for post in @posts %>

      <div class="col-md-6 col-lg-3 mx-4 my-4">
        <h3><%= post["title"] %></h3>
        <h4><%= post["posted_on"] %></h4>
        <!-- conditional logic to support legacy img and new uploaded image functionality, left it on cause app kept breaking when testing with old and new data-->
        <% if post.uploaded_image.attached? %>
          <img src="<%= url_for(post.uploaded_image) %>" class="img-fluid">
        <% else %>
          <img src="<%= post["image"] %>" class="img-fluid">
        <% end %>
        <p><%= post["description"] %></p>
        
      </div>

  <% end %>

</div>

<% else %>
  <p> Please log-in to see posts. </p>

<% end %>


<p>
  <a href="/places">Back to All Places</a>
</p>