<h1><%= @place["name"] %></h1>

<p>
  <a href="/posts/new?place_id=<%= @place["id"] %>" class="btn btn-primary">New Post</a>
</p>

<div class="row">

  <h2>My Posts</h2>
  <% for post in @posts %>

      <div class="col-md-6 col-lg-4">
        <h3><%= post["title"] %></h3>
        <h4><%= post["posted_on"] %></h4>
        <img src="<%= post["image"] %>" class="img-fluid">
        <p><%= post["description"] %></p>
        
      </div>

  <% end %>

</div>

<p>
  <a href="/places">Back to All Places</a>
</p>